<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stampsysback.mapper.ClassMapper">
    <!-- クラス一覧を取得 -->
    <select id="selectAll" resultType="com.example.stampsysback.entity.ClassEntity">
        SELECT class_id, class_name, created_at FROM classes ORDER BY class_id;
    </select>

    <!-- クラス作成 -->
    <insert id="insert">
        INSERT INTO classes (class_id, class_name, created_at)
        VALUES (#{classId}, #{className}, #{createdAt});
    </insert>

    <select id="selectMaxId" resultType="int">
        SELECT COALESCE(MAX(class_id), 0) FROM classes;
    </select>

    <!-- 指定したclass_idが存在するか確認 -->
    <select id="existsById" parameterType="int" resultType="int">
        SELECT 1 FROM classes WHERE class_id = #{classId} LIMIT 1
    </select>
</mapper>