<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stampsysback.mapper.ClassMapper">
    <!-- クラス一覧を取得 -->
    <select id="selectAll" resultType="com.example.stampsysback.entity.ClassEntity">
        SELECT class_id AS classId, class_name AS className, created_at AS createdAt, hidden AS hidden FROM classes
        WHERE hidden = FALSE  ORDER BY class_id;
    </select>

    <!-- 【追加】削除済みクラスを一覧取得 -->
    <select id="selectDeletedClass" resultType="com.example.stampsysback.entity.ClassEntity">
        SELECT class_id AS classId, class_name AS className, created_at AS createdAt, hidden AS hidden FROM classes
        WHERE hidden = TRUE ORDER BY class_id DESC;
    </select>

    <!-- クラス作成 -->
    <insert id="insert">
        INSERT INTO classes (class_id, class_name, created_at, hidden)
        VALUES (#{classId}, #{className}, #{createdAt}, FALSE);
    </insert>

    <select id="selectMaxId" resultType="int">
        SELECT COALESCE(MAX(class_id), 0) FROM classes;
    </select>

    <!-- 指定したclass_idが存在するか確認 -->
    <select id="existsById" parameterType="int" resultType="int">
        SELECT 1 FROM classes WHERE class_id = #{classId} LIMIT 1;
    </select>

    <!-- classId で 1 件取得 -->
    <select id="selectById" parameterType="int" resultType="com.example.stampsysback.entity.ClassEntity">
        SELECT
            class_id   AS classId,
            class_name AS className,
            created_at AS createdAt,
            hidden     AS hidden
        FROM  classes
        WHERE class_id = #{classId}
          AND hidden = FALSE;
    </select>

    <!-- 論理削除 -->
    <!-- TRUE：削除 | FALSE：有効 -->
    <update id="softDelete">
        UPDATE classes
        SET hidden = TRUE
        WHERE class_id = #{classId};
    </update>

    <!-- 復元機能 -->
    <update id="restore">
        UPDATE classes
        SET hidden = FALSE
        WHERE class_id = #{classId};
    </update>

</mapper>