<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stampsysback.mapper.StampManagementMapper">

    <!-- スタンプ一覧取得 -->
    <select id="findAll" resultType="com.example.stampsysback.entity.StampManagementEntity">
        SELECT
            stamp_id AS stampId,
            stamp_name AS stampName,
            stamp_icon AS stampIcon,
            stamp_color AS stampColor
        FROM stamps
    </select>

    <!-- 新しいスタンプ追加 -->
    <insert id="insert" parameterType="com.example.stampsysback.entity.StampManagementEntity">
        INSERT INTO stamps (stamp_name, stamp_icon, stamp_color)
        VALUES (#{stampName}, #{stampIcon}, #{stampColor})
    </insert>

    <!-- スタンプ削除 -->
    <delete id="delete" parameterType="int">
        DELETE FROM stamps WHERE stamp_id = #{stampId}
    </delete>

</mapper>
