<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stampsysback.mapper.StampSendRecordMapper">

    <insert id="insertStampSendRecord" parameterType="com.example.stampsysback.entity.StampSendRecord">
        INSERT INTO stamp_logs (user_id, stamp_id, room_id)
        VALUES (#{userId}, #{stampId}, #{roomId})

        <!-- PostgreSQL のシーケンスから直後に currval を取得してエンティティの stampLogId にセット -->
        <!--selectKeyはInsert文の直下でしか使えない-->
        <selectKey keyProperty="stampLogId" resultType="int" order="AFTER">
            SELECT currval(pg_get_serial_sequence('stamp_logs','stamp_log_id'))
        </selectKey>
    </insert>
</mapper>