<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stampsysback.mapper.UserMapper">

    <resultMap id="UserResult" type="com.example.stampsysback.entity.UserEntity">
        <id property="userId" column="user_id" />
        <result property="userName" column="user_name" />
        <result property="providerUserId" column="provider_user_id" />
        <result property="email" column="email" />
        <result property="role" column="role" />
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="selectById" parameterType="int" resultMap="UserResult">
        SELECT user_id, user_name, provider_user_id, email, role, created_at
        FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="existsById" parameterType="int" resultType="int">
        SELECT 1 FROM users WHERE user_id = #{userId} LIMIT 1
    </select>

    <select id="selectUsersInClass" resultType="com.example.stampsysback.dto.UserDto" parameterType="map">
        SELECT u.user_id     AS userId,
        u.user_name   AS userName,
        u.email       AS email,
--         u.role        AS role,
        g.group_name AS groupName  FROM users u
        JOIN users_classes uc ON u.user_id = uc.user_id
        LEFT JOIN "group" g ON u.group_id = g.group_id
        WHERE uc.class_id = #{classId}
        AND u.role = 'STUDENT'
        ORDER BY u.user_name
        <if test = "limit != null">
            LIMIT #{limit}
        </if>
        <if test = "offset != null">
            OFFSET #{offset}
        </if>
    </select>

    <select id="selectUsersNotInClass" resultType="com.example.stampsysback.dto.UserDto" parameterType="map">
        SELECT u.user_id     AS userId,
        u.user_name   AS userName,
        u.email       AS email,
        u.role        AS role,
        g.group_name  AS groupName
        FROM users u
        LEFT JOIN "group" g ON u.group_id = g.group_id
        WHERE NOT EXISTS (
        SELECT 1 FROM users_classes uc WHERE uc.user_id = u.user_id AND uc.class_id = #{classId}
        )
        AND u.role = 'STUDENT'
        ORDER BY u.user_name
        <if test="limit != null">
            LIMIT #{limit}
        </if>
        <if test="offset != null">
            OFFSET #{offset}
        </if>
    </select>

</mapper>